@import url('https://fonts.googleapis.com/css2?family=Borel&family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'borel', 'sans-serif';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(sunset.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    row-gap: 5vh;
    padding-bottom: 10%;
    margin-top: 5%;
}

h1 {
    font-size: 1.6em;
    font-family: 'borel', 'sans-serif';
}

h1, h2 {
    color: antiquewhite;
}

form {
    padding: 6%;
    display: flex;
    flex-direction: column;
    row-gap: 3%;
}


.wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: #fff;
    background-color: transparent;
    color: antiquewhite;
    padding: 2%;
}

.wrapper h2 {
    font-size: 32px;
    text-align: center;
}

.wrapper .input-box {
    column-gap: 10px;
    display: flex;
    width: 100%;
    height: 15%;
    margin: 7% 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: antiquewhite;
    padding: 20px 20px 20px 20px;
}

.input-box input::placeholder {
    color: aliceblue;
}

.input-box i {
    position: relative;
    right: 15%;
    top: 25px;
}

.wrapper .remember-forgot {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    text-align: center;
    align-items: center;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius:40px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.register-link {
    margin-top: 10%;
}

.wrapper .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media screen and (max-width:1200) {

    .wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        border: #fff;
        background-color: transparent;
        color: antiquewhite;
        padding: 2%;
    }
    
    .wrapper h2 {
        font-size: 32px;
        text-align: center;
    }
    
    .wrapper .input-box {
        column-gap: 10px;
        display: flex;
        width: 100%;
        height: 15%;
        margin: 7% 0;
    }
    
    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: antiquewhite;
        padding: 20px 20px 20px 20px;
    }
    
    .input-box input::placeholder {
        color: aliceblue;
    }
    
    .input-box i {
        position: relative;
        right: 15%;
        top: 25px;
    }
    
    .wrapper .remember-forgot {
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
        text-align: center;
        align-items: center;
    }
    
    .remember-forgot label input {
        accent-color: #fff;
        margin-right: 3px;
    }
    
    .remember-forgot a {
        color: #fff;
        text-decoration: none;
    }
    
    .remember-forgot a:hover {
        text-decoration: underline;
    }
    
    .wrapper .btn {
        width: 100%;
        height: 45px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius:40px ;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }
    
    .register-link {
        margin-top: 10%;
    }
    
    .wrapper .register-link p a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    
    .register-link p a:hover {
        text-decoration: underline;
    }
}


@media screen and (max-width:470px){
    .wrapper {
        width: 90%;
    }
}

@media screen  and (max-width:320px){
    .wrapper {
        width: 100%;
    }
}